@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  margin: 0 auto;
  border: 1px solid #dedede;
  width: 100%;
  table-layout: fixed;
  text-align: center; 
}

.q3_table th {
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
  color: #ffff;
  background: #2244ae;
  border: 1px solid #dedede;
}

.q3_table td {
  font-size: 16px;
  line-height: 26px;
  border: 1px solid #dedede; 
}

.q3_table tbody tr:nth-child(2n) {
  background: #ecf1f2;
}

.q3_table tbody tr:last-child {
  border-top: 2px #000 dashed;
}

/*.gray {
  background: #ecf1f2;
}
*/

/*.border_top {
  border-top: 2px #000 dashed;
}
*/

/* 回答はここに書いてね */
